{% extends "blocks/header.html" %}
{% block content %}
            <div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Kontakt</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/contact-image.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__supporting-text">
                        <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric"></th>
                                    <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Amet</th>
                                    <th class="mdl-data-table__cell--non-numeric">E-mail</th>
                                    <th class="mdl-layout--large-screen-only">Mobiil</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">{{contact.name}}</td>
                                        <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">{{contact.profession}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{contact.email}}</td>
                                        <td class="mdl-layout--large-screen-only">{{contact.phone_number}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
