{% extends "blocks/header.html" %}
{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/et_EE/sdk.js#xfbml=1&version=v2.9&appId=1879931848928827";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
                <div class="mdl-card__supporting-text">
                    <div class="fb-page" data-href="https://www.facebook.com/RaeKoss/?fref=ts" data-tabs="timeline" data-width="500" data-height="2000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RaeKoss/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RaeKoss/?fref=ts">KK Rae Koss</a></blockquote></div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-phone">
                {% for sponsor in sponsors %}
                    <div class="mdl-shadow--4dp portfolio-card">
                        <div style="background-color: white" class="mdl-card__media">
                            <a href="{{ sponsor.link }}">
                                <img class="article-image" src="{{ sponsor.picture_url }}" border="0" alt="">
                            </a>
                        </div>
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                {% if sponsor.priority > 1000 %}
                                Peasponsor: 
                                {% endif %}
                                {{ sponsor.name }}
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>{{ sponsor.text }}</p>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="portfolio-share-btn" href="{{ sponsor.link }}">
                                <div id="tt{{ loop.index }}" class=" icon material-icons portfolio-share-btn">link</div>
                            </a>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}