{% extends "blocks/header.html" %}
{% block content %}
            <div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">EST-FIN 100</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/schedule.png" border="0" alt="">
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
