{% extends "blocks/header.html" %}
{% block content %}

            <div class="mdl-grid portfolio-max-width">
                {% for sponsor in sponsors %}
                    {% if sponsor.priority > 100 %}
                    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                        <div style="background-color: white" class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
                            <a href="{{ sponsor.link }}">
                                <img class="article-image" src="{{ sponsor.picture_url }}" border="0" alt="">
                            </a>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col">
                            <h2 class="mdl-card__title-text">{% if sponsor.priority > 1000 %}Peasponsor: {% endif %}{{ sponsor.name }}</h2>
                            <div class="mdl-card__supporting-text no-left-padding">
                            <p>{{ sponsor.text }}</p>
                        </div>
                        <div class="mdl-card__supporting-text no-bottom-padding">
                            <a class="portfolio-share-btn" href="{{ sponsor.link }}">
                                <div id="tt{{ loop.index }}" class=" icon material-icons portfolio-share-btn">link</div>
                            </a>
                            <div class="mdl-tooltip" for="tt{{ loop.index }}">
                                Mine veebilehele
                            </div>
                        </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ sponsor.name }}</h2>
                        </div>
                        <div style="background-color: white" class="mdl-card__media">
                            <a href="{{ sponsor.link }}"> <img class="article-image" src="{{ sponsor.picture_url }}" border="0" alt=""></a>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>{{ sponsor.text }}</p>
                        </div>
                        <div class="mdl-card__supporting-text no-bottom-padding">
                            <a class="portfolio-share-btn" href="{{ sponsor.link }}">
                                <div id="tt{{ loop.index }}" class=" icon material-icons portfolio-share-btn">link</div>
                            </a>
                            <div class="mdl-tooltip" for="tt{{ loop.index }}">
                                Mine veebilehele
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
{% endblock %}
