{% extends "blocks/header.html" %}
{% block content %}
            <div class="mdl-grid portfolio-max-width">

                {% for team in teams %}
                    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{team.name}}</h2>
                        </div>
                        <br>
                        <br>
                        <div class="mdl-card__media">
                            <img class="article-image" src="{{team.picture_url}}" border="0" alt="">
                        </div>

                        <br>
                        <br>

                        <div class="mdl-grid portfolio-copy">

                            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Peatreener</h3>
                            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                                <h4 class="headcoach">
                                    {{ team.coach }}
                                </h4>
                            </div>


                            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Eesseisvad mängud</h3>
                            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                                {% if team.games_table != 'None' %}
                                    {{ team.games_table | safe }}
                                {% else %}
                                    Pole infot
                                {% endif %}
                            </div>

                            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline mdl-cell--hide-phone">Mängijad</h3>

                            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding mdl-cell--hide-phone">
                                {% if team.player_table != 'None' %}
                                    {{ team.players_table | safe }}
                                {% else %}
                                    Pole infot
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
{% endblock %}
