{% extends "blocks/header.html" %}
{% block content %}
            <div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Noored</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/orissaare.png" border="0" alt="">
                    </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">
                                <div class="mdl-card__supporting-text">
                                    <p>
                                        Noortekorvpalli treeningud ja korvpalliõpe Rae vallas toimub Rae Huvialakooli spordiosakonnas ehk <a href="http://huvikool.rae.ee/osakonnad/spordiosakond/">Rae Spordikoolis</a>.
                                    </p>
                                    <p>
                                        Korvpalli treeningud toimuvad kõikides Rae valla üldhariduskoolides Lagedil, Vaidas, Jüris, Peetris ja Järvekülas. <a href="http://huvikool.rae.ee/osakonnad/spordiosakond/">Tunniplaan</a>
                                    </p>
                                    <p>
                                        Treeninggrupid moodustavad alates U9 kuni U18 vanusteni. Rae Spordikooli võistkonnad osalevad kõikides vanustes Eesti meistrivõistlustel ning koostööd tehakse TTÜ Korvpallikooliga, kus ühiselt mängitakse nii BBBL (Baltic Basketball Boys League) kui ka EYBL (European Youth Basketball League) liigasi.
                                        Rae Spordikooli korvpallitreenerid:
                                    </p>
                                    <p>
                                        Treeninggrupid moodustavad alates U9 kuni U18 vanusteni. Rae Spordikooli võistkonnad osalevad kõikides vanustes Eesti meistrivõistlustel ning koostööd tehakse TTÜ Korvpallikooliga, kus ühiselt mängitakse nii BBBL (Baltic Basketball Boys League) kui ka EYBL (European Youth Basketball League) liigasi.
                                        Rae Spordikooli korvpallitreenerid:
                                    </p>
                                </div>
                                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--hide-phone">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Treener</th>
                                            <th>Vanuserühm</th>
                                            <th>Asukoht</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {% for coach in coaches %}
                                            <tr>
                                                <td class="mdl-data-table__cell--non-numeric">{{coach.name}}</td>
                                                <td>{{coach.age_group}}</td>
                                                <td>{{coach.location}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone">
                                <img  style="max-width: 100%;height: auto;" src=" images/tulekossu_a6_2016.jpg" border="0" alt="">
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}