<a class="mdl-navigation__link {% if active == 'index' %} is-active {% endif %}" href="/">KK Rae Koss</a>
<a class="mdl-navigation__link {% if active == 'youth' %} is-active {% endif %}"  href="youth">Noortekorvpall</a>
<a class="mdl-navigation__link {% if active == 'team' %} is-active {% endif %}" href="team">Meeskond</a>
<a class="mdl-navigation__link {% if active == 'sponsors' %} is-active {% endif %}" href="sponsors">Koostööpartnerid</a>
<a class="mdl-navigation__link {% if active == 'contact' %} is-active {% endif %}" href="contact">Kontakt</a>